<!DOCTYPE html>
<html>

<head>
    <title>Email de Teste</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
        }

        .header {
            background-color: #f4f4f4;
            padding: 20px;
            text-align: center;
            font-size: 24px;
        }

        .content {
            padding: 20px;
        }

        .footer {
            text-align: center;
            font-size: 12px;
            color: #aaa;
        }
    </style>
</head>

<body>
    <div class="header">Título do E-mail</div>
    <div class="content">
        <p>Este é o corpo do e-mail de teste enviado pelo Nodemailer!</p>
    </div>
    <div class="footer">© 2024 Rick Wesley Rios</div>
</body>

</html>
